<style type="text/css">
<!--
body{
  margin: 0;
  }
a:link{/*リンク色*/
  color: #554966;
  text-decoration: none;
  }
a:visited{/*訪問済みリンク色*/
  color: #554966;
  text-decoration: none;
  }
a:hover,a:active{/*アクティブリンク色*/
  color: #553866;
  }
div.top20{
  font-size: 10pt;/*全体の文字サイズ*/
  color: #212125;/*全体の文字色*/
  margin: 0 10%;/*左の余白*/
  border-left: 2px ridge #FAFAFD;/*左右の縦線*/
  border-right: 2px ridge #FAFAFD;
  width: 480px;/*全体の横幅*/
  height: 100%;/*全体の高さ。コンテンツ量によって増やしてください。*/
  }
h1{/*SiteTitle部分の設定*/
  font-size: 14pt;/*文字サイズ*/
  font-family: Tahoma,Arial,sans-serif;
  font-weight: normal;
  letter-spacing: 0.5em;
  color: #647484;/*文字色*/
  padding: 0.7em 0.5em 0.2em 1em;
  margin: 0 0.7em 0.5em 0.7em;
  }
h2{/*<About>,<Diary>部分の設定*/
  font-size: 9pt;
  font-family: Tahoma,Arial,sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  color: #243444;
  background-color: #FFFFFF;
  padding: 0.2em 0.6em;
  margin: 0 1em 2px 0.3em;
  border-bottom: solid 2px #9797A5;/*下線の色*/
  width: 6.5em;/*横幅*/
  }
.summary{/*上部全体の設定*/
  background-color: #EFEFF2;/*背景色*/
  background-image: url("images/011_bg.gif");/*縞模様用の背景画像*/
  padding: 0em 1.5em;
  border-top: solid 1px #919195;
  border-bottom: solid 1px #919195;
  }
.topbox{
  background-color: #FFFFFF;
  margin: 1.2em 0 1.2em 0;
  border: solid 1px #777785;/*枠色*/
  }
.summary p{
  padding: 0.6em;
  margin: 0;
  }
.summary .diary{/*Diary部分の設定*/
  padding: 0.6em;
  height: 8em;/*高さ*/
  overflow: auto;
  scrollbar-3dlight-color: #ABABAC;
  scrollbar-arrow-color: #515151;
  scrollbar-darkshadow-color: #FCFCFD;
  scrollbar-face-color: #FFFFFF;
  scrollbar-highlight-color:#FCFCFD;
  scrollbar-shadow-color: #ABABAC;
  scrollbar-track-color: #FFFFFF;
  }
.menu{
  padding: 1em 1em 0.5em 1em;
  border-bottom: solid 1px #919195;
  }
.menu dl{/*メニュー一つの枠の設定*/
  margin: 0.7em 0.7em 0 0.7em;
  border: solid 1px #CACACD;/*枠色*/
  float: left;
  width: 9.4em;/*幅。全体の幅に対応して設定してください*/
  height: 6em;/*高さ。紹介文に合わせて拡げてください*/
  overflow: hidden;
  }
.menu dt a{/*メニュー内リンク部分の設定*/
  font-size: 8pt;/*文字サイズ*/
  font-weight: bold;
  font-family: Arial,sans-serif;
  letter-spacing: 0.1em;
  padding: 0.1em 0.4em 0.1em 0.4em;
  margin: 0.2em 0.2em 0.3em 0.2em;
  border-bottom: solid 2px #BABAD0;/*下線の太さ・色*/
  display: block;
  width: 100%;
  }
.menu dt a:hover{/*マウスを乗せたときの設定*/
  background-color: #F2F2F9;
  border-bottom: solid 2px #7A7ADE;
  }
.menu dd{/*メニュー紹介文部分の設定*/
  font-size: 9pt;/*文字サイズ*/
  background-color: #F8F8F9;/*背景色*/
  padding: 0.3em;
  margin: 0.2em 0.25em;
  }
.menu .footer{/*カウンタなどの部分*/
  font-size: 8pt;
  font-style: normal;
  font-family: Tahoma,Arial,sans-serif;
  text-align: center;
  margin: 2em 1em 0 1em;
  padding: 0.5em;
  clear: both;
  }
.top20 address{/*最下部のCopyright部分*/
  font-size: 8pt;
  font-style: normal;
  font-family: Tahoma,Arial,sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  background-color: #EFEFF2;
  background-image: url("images/020_bg.gif");
  padding: 0.5em;
  margin: 0 0 1em 0;
  border-bottom: solid 1px #919195;
  }
/* For IE Box */
*{ box-sizing : border-box}
*{ -moz-box-sizing : border-box}
-->
</style>

